/* Front End Developer Portfolio for J.M. Alessi */
/* © 2019 J.M. Alessi. */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
body {
	background-color: #6499AA;
	color: #EEE;
	font: 16px ZCOOL XiaoWei, serif;
	text-shadow: 2px 2px 5px #111, 0px 0px 9px #222, 0px 0px 3px #333;
}
h1 {
	font: 24px Merriweather, serif;
	text-shadow: 2px 2px 5px #111, 0px 0px 9px #222, 0px 0px 3px #333 !important;
}
p {
	font-size: 16px;
}
.p2, .p3 {
	font-size: 12px;
}
.p3 {
	margin-top: 15px;
}
.margin {
	margin-bottom: 30px;
}
.margin-top {
	margin-top: 10px;
}
.margin-40 {
	margin-top: 40px;
}
a {
	text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #EEE;
}
a:visited {
  color: #EEE;
}
a:hover {
  color: #AA0000;
  text-decoration: none;
}
a:active {
  color: #AA0000;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: #002233 !important;
}
.navbar .navbar-brand {
  color: #EEE !important;
}
.nav-link {
	color: #EEE !important;
	font: 16px ZCOOL XiaoWei, serif !important;
}
.navbar-nav > li > .dropdown-menu {
	background-color: #002233;
}
.navbar-nav > li > .dropdown-menu > a:hover {
	background-color: #6499AA;
}
header {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}
.welcome-css {
  margin-top: 86px;
	height: 100vh;
  color: #EEE;
}
#logo {
  margin-right: auto;
  width: 45%;
  height: 45%;
}
#logo:hover {
  filter: blur(4px);
}
.blur-text:hover {
  filter: blur(2px);
}
.projects-css {
	background-image: url("https://i.postimg.cc/GmYCL3nM/Splash-BG-by-J-M-Alessi.jpg");
	background-size: cover;
	color: #EEE;
}
.container-fluid {
  padding: 70px 50px 70px 50px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #AA0000 !important;
}
.project-tile {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background: #002233;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #EEE;
  border-radius: 20px;
  box-shadow: 5px 7px 9px #111, 0px 0px 13px #222, 0px 0px 7px #333;
}
.project-tile:hover {
  background: #990000;
  color: #EEE;
  text-decoration: none;
  filter: blur(2px);
}
.project-tile:active {
  filter: blur(5px);
}
.thumbs {
  width: 89%;
  height: 79%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -5px;
	border: 1px solid #EEE;
  border-radius: 20px;
  filter: grayscale(25%);
}
#top-link {
  font-size: 12px;
  font-family: Merriweather, serif;
  padding-top: 45px;
}
.more-css {
	background-color: #002233;
	color: #EEE;
}
#FCC-svg {
	margin-top: -3px;
	margin-bottom: 7px;
}
#FCC-svg:hover {
	background: #AA0000;
  border-radius: 30px;
}
/* Front End Developer Portfolio for J.M. Alessi */
/* © 2019 J.M. Alessi. */
